table{
    width: 50%;
    margin-left: 25%;
}
 
table td{
    border: 1px solid;
    font-size: 14px;
    text-transform: uppercase;
    padding: 6px;
}

h2{
    text-align: center;;
}


button{
    height: 40px;
    border-radius: 4px;
    background: red;
    color: antiquewhite;
    width: 100px; 
}
.center{
    text-align: center;;
}