<h2>Lista de Usuarios</h2>
 
<table>
    <tr>
        <td><label><strong>Id :</strong> {{request.cd_usuario}}  </label></td>
    </tr>
    <tr>
        <td><label><strong>Usuario :</strong> {{request.nm_usuario}}  </label></td>
    </tr>
    <tr>
        <td><label><strong>Nome :</strong> {{request.nome}}  </label></td>
    </tr>
    <tr>
        <td><label><strong>Avatar :</strong> {{request.avatar}}  </label></td>
    </tr>
    <tr>
        <td class="center"> <button (click)="delete()" >Deletar</button> </td>
    </tr>
</table>
 